<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basic Component</title>
</head>
<body>
    <div style="font-size: 26px;" id="app" v-if="status == 'tampilkan'">
        {{ message }} <br>
        <label v-for="user in users">Nama : {{user.nama}}  |||  Umur : {{user.usia}}  |||   Keahlian : {{user.keahlian}} <br> </label>
      </div>
</body>
</html>

<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script>
    var app = new Vue({
  el: '#app',
  data: {
    message: 'Hello Vue!',
    status: 'tampilkan',
    users:[
        {
            nama : 'Aban',
            usia : '30 Tahun',
            keahlian : 'Memasak'
        },
        {
            nama : 'Badni',
            usia : '31 Tahun',
            keahlian : 'Mengajar'
        },
        {
            nama : 'Caki',
            usia : '29 Tahun',
            keahlian : 'Menulis'
        }
    ]
  }
})
</script>